<!DOCTYPE HTML>
<link rel="icon" href="//static/icon.ico">
<html>
	<head>
		<title>JadeAI : 500</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/home/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/home/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="/static/home/images/avatar.jpg" alt="" /></span>
							<h1>Error: 500</h1>
							<p>Look like you aren't logged in!</p>
						</header>
						<footer>
							<ul class="actions special">
								<li><a href="/login" class="button">Login with Discord</a></li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Jade AI</li><li>Design & Development: <a href="http://j-fan.ml">Jess Edmund Fan</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>