<!DOCTYPE HTML>
<link rel="icon" href="/static/icon.ico">
<script src="/static/data/assets/js/get_vars.js"></script>
<script>
    var guild_settings=JSON.parse('{{guild_settings}}'.replace(/&#34;/gi,'"'));
    var guild_id=0n
</script>
<html>
	<head>
		<title>JadeAI : Control Panel</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/data/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/data/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
					<nav id="nav">
						<a href="#" class="icon solid fa-portrait"><span>{{user.name}}</span></a>
						<a href="#guilds" class="icon solid fa-server"><span>Guilds</span></a>
                        <a href="#settings" class="icon solid fa-sliders-h"><span>Settings</span></a>
                        <a href="#info" class="icon solid fa-info"><span>Info</span></a>
                        <a href="https://jadeai.ml/logout" class="icon solid fa-sign-out-alt"><span>Logout</span></a>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Me -->
							<article id="home" class="panel intro">
								<header>
									<h1>{{user.name}}</h1>
									<p>Hewwo, Frien!</p>
								</header>
								<a href="#guilds" class="jumplink pic">
									<span class="arrow icon solid fa-chevron-right"><span>Configure Your Settings</span></span>
									<img src={{avatar_url}} alt="" height=394px/>
								</a>
							</article>

						<!-- Guilds -->
							<article id="guilds" class="panel">
								<header>
									<h2>Guilds</h2>
								</header>
								<p id="guild_desc_msg"></p>
								<section>
									<div class="row">
                                        <script>
                                            if ({{num_guilds}} > 0) {
                                                document.getElementById("guild_desc_msg").innerHTML = "Click any of the icons below to change Jade's settings in that server!";
                                            } else {
                                                document.getElementById("guild_desc_msg").innerHTML = "You aren't in any servers with Jade! <s>Why... are you even here?</s> <a href=https://discord.com/api/oauth2/authorize?client_id=410253782828449802&permissions=3088&redirect_uri=https%3A%2F%2Fjadeai.ml%2Fauth&scope=bot>Invite Jade</a><br>Note: you will need to run a <code>JD [message]</code> before the guild will appear here.";
                                            }
                                        </script>
                                        {% for guild in guilds %}
                                            <div class="col-4 col-6-medium col-12-small">
                                                <a href="#settings" onclick="setGuild({{guild.id}}n,&quot;{{guild.name}}&quot;,guild_settings,&quot;{{guild.icon_hash}}&quot;); guild_id={{guild.id}}n;" class="image fit"><img id="{{guild.id}}" src=https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon_hash}}.png?size=512 width=512 alt=""></a>
                                            </div>
                                            <script>
                                                var image = document.getElementById("{{guild.id}}");
                                                image.onerror = function () {
                                                console.log('error loading ' + this.src);
                                                this.src = '/static/data/images/fallbackpfp.png';
                                                };
                                            </script>
                                        {% endfor %}
									</div>
								</section>
							</article>

						<!-- Settings -->
							<article id="settings" class="panel">
                                <div>
                                    <div class="row">
                                        <div class="col-9">
                                            <header>
                                                <h2 id="Guild Name">No Guild Selected</h2>
                                            </header>
                                            <p id="settings_small_text">
                                                Click any of the icons <a href="#guilds">here</a> to change Jade's settings in that server!
                                            </p>
                                            <br>
                                        </div>
                                        <div class="col-3">
                                            <img id="Guild Img" src="" alt="" height=110></img>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th>Setting</th>
                                                <th>Value</th>
                                                <th>Maximum</th>
                                                <th>Default</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>temperature</td>
                                                <td id="temperature">NaN</td>
                                                <td>1</td>
                                                <td>0.75</td>
                                            </tr>
                                            <tr>
                                                <td>top_k</td>
                                                <td id="top_k">NaN</td>
                                                <td>inf</td>
                                                <td>40</td>
                                            </tr>
                                            <tr>
                                                <td>top_p</td>
                                                <td id="top_p">NaN</td>
                                                <td>1</td>
                                                <td>0.9</td>
                                            </tr>
                                            <tr>
                                                <td>seed</td>
                                                <td id="seed">NaN</td>
                                                <td>[random]</td>
                                                <td>[random]</td>
                                            </tr>
                                            <tr>
                                                <td>auto_seed</td>
                                                <td id="auto_seed">NaN</td>
                                                <td>True/False</td>
                                                <td>True</td>
                                            </tr>
                                            <tr>
                                                <td>max_history</td>
                                                <td id="max_history">NaN</td>
                                                <td>10</td>
                                                <td>4</td>
                                            </tr>
                                            <tr>
                                                <td>max_length</td>
                                                <td id="max_length">NaN</td>
                                                <td>20</td>
                                                <td>10</td>
                                            </tr>
                                            <tr>
                                                <td>no_sample</td>
                                                <td id="no_sample">NaN</td>
                                                <td>True/False</td>
                                                <td>False</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
								<form action="#" method="post">
                                    <div>
										<div class="row">
                                            <div class="col-6 col-12-medium">
                                                <select name="Setting" id="Setting">
                                                    <option value="temperature">temperature</option>
                                                    <option value="top_k">top_k</option>
                                                    <option value="top_p">top_p</option>
                                                    <option value="seed">seed</option>
                                                    <option value="auto_seed">auto_seed</option>
                                                    <option value="max_history">max_history</option>
                                                    <option value="max_length">max_length</option>
                                                    <option value="no_sample">no_sample</option>
                                                </select>
                                            </div>
                                            <div class="col-6 col-12-medium">
                                                <input type="text" name="Value" placeholder=0 id="Value"/>
                                            </div>
                                            <div class="row">
                                                <div class="col-12-medium">
                                                    <input type="button" onclick="send_change({'guild_id':guild_id.toString(), 'setting':document.getElementById('Setting').value, 'value':document.getElementById('Value').value, 'user_id':{{user.id}}n.toString()});" value="Commit Settings" />
                                                </div>
                                                <div class="col-12-medium">
                                                    <input type="button" onclick="send_change({'guild_id':guild_id.toString(), 'setting':'reset', 'value':document.getElementById('Value').value});" value="Reset" />
                                                </div>
                                                <div class="col-12-medium">
                                                    <p id="message" class="message_none"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</form>
                            </article>
                            
                        <!-- Information -->
                            <article id="info" class="panel">
								<header>
                                    <h2>Info</h2>
                                </header>
                                <div id="graph">
                                    <canvas id="canvas" style="display: block; width: 832px; height: 416px;" width="832" height="416" class="chartjs-render-monitor"></canvas>
                                </div>
                                <script>
                                    new Chart(document.getElementById('canvas')), {
                                        type: 'line',
                                        data: {
                                            labels: {{graph_x|safe}},
                                            datasets: [{
                                                data: {{graph_y}},
                                                borderColor: "#a5bba7",
                                                fill: false
                                            }]
                                        }}
                                </script>
							</article>
					</div>

				<!-- Footer -->
					<div id="footer">
						<ul class="copyright">
							<li>&copy; Jade AI</li><li>Design & Development: <a href="http://j-fan.ml">Jess Edmund Fan</a></li>
						</ul>
					</div>
			</div>

        <!-- Scripts -->
            <script src="/static/data/assets/js/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
			<script src="/static/data/assets/js/browser.min.js"></script>
			<script src="/static/data/assets/js/breakpoints.min.js"></script>
			<script src="/static/data/assets/js/util.js"></script>
            <script src="/static/data/assets/js/main.js"></script>

	</body>
</html>